*.pyc
.python-version
.ropeproject/config.py
mwlib.pdf.egg-info
/test.pdf
/test.zip
/mwlib/html/css/base.css
build/
dist/
.idea
.DS_Store
*~
.*.swp
.pytest_cache
*.mo
/mwlib/html/css/base.css.map
/debug.html
/debug_final.html
*.zip
*.pdf
license.dat
